/* ItemCreateMenu.css */
.item-create-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fafbfd; /* White background */
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Grid layout for responsive layout */
  gap: 10px;
}

.gutter {
  background-color: #ececec;
}

.category-sidebar {
  transition: max-width 0.3s ease;
}

.category-sidebar:hover {
  max-width: 300px; /* Adjust the expanded width as needed */
}